body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: hsl(212, 45%, 89%);
}

main {
  width: 70%;
  max-width: 260px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

img {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 3%;
}

.card--title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 0;
  color: hsl(218, 44%, 22%);
}

.card--description {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  margin: 1em;
}

.attribution {
  margin-top: 1em;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(218, 44%, 22%);
}

a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
